*.json
*.pyc
utilities/__pycache__/addRecord.cpython-313.pyc
utilities/__pycache__/deleteRecord.cpython-313.pyc
utilities/__pycache__/editRecord.cpython-313.pyc
utilities/__pycache__/listRecords.cpython-313.pyc
utilities/__pycache__/updateRecord.cpython-313.pyc
utilities/test.py
utilities/notes.txt
utilities/instruction.txt
tasks